<form method="post" action="{% url 'add_job' %}"> {% csrf_token %}
    <input type="text" name="name_of_company"/>
    <input type="text" name="name_of_job"/>
    <input type="text" name="level"/>
    <input type="text" name="time_of_job"/>
    <input type="submit" value="save"/>
</form>